.list-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
}

.list-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  padding: 4px;
  margin-top: 12px;
  border-color: rgba(169, 170, 170, 0.616);
  background-color: rgba(105, 103, 103, 0.151);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.205);
}

.list-item-body {
  display: flex;
  flex-flow: row nowrap;
  background-color: white;
  height: 40px;
}

.result-item {
  width: 30%;
  padding: 4px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.result-item-label {
  text-align: center;
  font-size: 18px;
}

.result-category {
  width: 35%;
  padding: 4px;
  margin: 6px;
  border: 1px solid;
  border-radius: 4px;
  display: flex;
  flex: column nowrap;
  justify-content: center;
  align-items: center;
}

.result-category-label {
  text-align: center;
  font-size: 24px;
}
