<div *ngIf="tdsService.getTestDataSet(testDataSetId) | async; else elseBlock">
  <div class="container">
    <!-- Title -->
    <div class="title-container">
      <span class="title">{{ getTestDataSetTitle() | async }}</span>
      <button mat-raised-button color="warn" (click)="deleteTDS()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <mat-divider class="divider"></mat-divider>

    <!-- Tabs -->
    <mat-tab-group>
      <!-- Tab -->
      <mat-tab label="TDS Details">
        <!-- Interactions -->
        <div class="interactions">
          <div class="option-list">
            <div [routerLink]="'/eval/man/register'" class="option-list-item">
              <span class="option-list-item-text"> Add Manual Evaluation </span>
            </div>
            <div [routerLink]="'/eval/auto/register'" class="option-list-item">
              <span class="option-list-item-text">
                Add Automatic Evaluation
              </span>
            </div>
          </div>
        </div>

        <mat-divider class="divider"></mat-divider>

        <!-- Detail Data Subpage-->
        <app-tds-comparison
          testDataSetId="{{ testDataSetId }}"
        ></app-tds-comparison>
      </mat-tab>

      <!-- Manual Evaluations Subpage -->
      <mat-tab label="ManEvals">
        <div class="interactions">
          <div class="option-list">
            <div [routerLink]="'/eval/man/register'" class="option-list-item">
              <span class="option-list-item-text"> Add Manual Evaluation </span>
            </div>
          </div>
        </div>

        <mat-divider class="divider"></mat-divider>

        <h4 class="subtitle">ManEvals</h4>
        <p class="description">
          "These are the manual evaluations (ManEvals) available in this
          TestDataSet. There may exist multiple manual evaluations of the same
          student solution, so this TDS holds a list of manual evaluations. When
          INLOOM QT performs the comparison of manual and automatic evaluations,
          all of the manual evaluations are taken into consideration, while only
          the most recent automatic evaluation is used for reference."
        </p>
        <app-list-evaluations
          [evaluations]="
            (tdsService.getTestDataSet(testDataSetId) | async).man_evals
          "
        ></app-list-evaluations>
      </mat-tab>

      <!-- Automatic Evaluations Subpage -->
      <mat-tab label="AutoEvals">
        <div class="interactions">
          <div class="option-list">
            <div [routerLink]="'/eval/auto/register'" class="option-list-item">
              <span class="option-list-item-text">
                Add Automatic Evaluation
              </span>
            </div>
          </div>
        </div>

        <mat-divider class="divider"></mat-divider>

        <h4 class="subtitle">AutoEvals</h4>
        <p class="description">"These are the automatic evaluations."</p>
        <app-list-evaluations
          [evaluations]="
            (tdsService.getTestDataSet(testDataSetId) | async).auto_evals
          "
        ></app-list-evaluations>
      </mat-tab>

      <!-- Individual Comparison -->
      <mat-tab label="Advanced Comparison">
        <div class="adv-comp-container">
          <p class="description">
            "Select a manual and an automatic evaluation of this TestDataSet to
            compare them to one another."
          </p>

          <mat-divider></mat-divider>

          <form
            [formGroup]="advancedComparisonForm"
            class="eval-select-container"
          >
            <mat-form-field class="eval-select">
              <mat-label>ManEval</mat-label>
              <mat-select formControlName="manEvalSelectionCtrl">
                <mat-option
                  *ngFor="
                    let evaluation of (
                      tdsService.getTestDataSet(testDataSetId) | async
                    ).man_evals
                  "
                  value="{{ evaluation.evaluation_id }}"
                >
                  {{ evaluationService.getEvaluationName(evaluation) }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="eval-select">
              <mat-label>AutoEval</mat-label>
              <mat-select formControlName="autoEvalSelectionCtrl">
                <mat-option
                  *ngFor="
                    let evaluation of (
                      tdsService.getTestDataSet(testDataSetId) | async
                    ).auto_evals
                  "
                  value="{{ evaluation.evaluation_id }}"
                >
                  {{ evaluationService.getEvaluationName(evaluation) }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <button mat-button color="primary" (click)="onSelectionSubmit($event)">
              <i class="material-icons">compare_arrows</i>
            </button>
          </form>

          <mat-divider></mat-divider>

          <ng-template #comparisonRoot></ng-template>

        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<!-- Loading Animation -->
<ng-template #elseBlock>
  <mat-spinner></mat-spinner>
</ng-template>
