<div class="container">
  <div class="title-container">
    <span class="title">{{ getTestDataSetTitle() | async }}</span>
    <button mat-raised-button color="warn" (click)="deleteTDS()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <mat-tab-group>
    <mat-tab label="TDS Details">
      <div class="interactions">
        <div class="option-list">
          <div [routerLink]="'/eval/man/register'" class="option-list-item">
            <span class="option-list-item-text"> Add Manual Evaluation </span>
          </div>
          <div [routerLink]="'/eval/auto/register'" class="option-list-item">
            <span class="option-list-item-text">
              Add Automatic Evaluation
            </span>
          </div>
        </div>
      </div>

      <mat-divider class="divider"></mat-divider>

      <div class="test-data-set-card-body">
        <div class="test-data-set-literals">
          <div class="test-data-set-literal">
            <span class="test-data-set-literal-label">
              Employed Expert Solution
            </span>
            <span class="test-data-set-literal-value">
              {{
                (exerciseService.getExpertSolution(
                  (getTestDataSet() | async).expert_solution_id
                ) | async).expert_solution_id
              }}
            </span>
          </div>

          <div class="test-data-set-literal">
            <span class="test-data-set-literal-label">
              Average ManEval Points
            </span>
            <span class="test-data-set-literal-value">
              {{
                statisticsService.getAverageManGrade(this.testDataSetId) | async
              }}
              /
              {{
                (
                  exerciseService.getExpertSolution(
                    (getTestDataSet() | async).expert_solution_id
                  ) | async
                ).maximum_points
              }}
            </span>
          </div>

          <div class="test-data-set-literal">
            <span class="test-data-set-literal-label">
              Average Grade Quotient
            </span>
            <span class="test-data-set-literal-value">
              {{
                statisticsService.getGradeQuotient(
                  this.testDataSetId,
                  "average-man-eval"
                )
                  | async
                  | number: "1.1-3"
              }}
            </span>
          </div>
        </div>
      </div>

      <mat-divider class="divider"></mat-divider>

      <app-single-comparison
        testDataSetId="{{ testDataSetId }}"
        chartTitle="Average ManEval / Latest AutoEval"
      ></app-single-comparison>
    </mat-tab>

    <mat-tab label="ManEvals">
      <div class="interactions">
        <div class="option-list">
          <div [routerLink]="'/eval/man/register'" class="option-list-item">
            <span class="option-list-item-text"> Add Manual Evaluation </span>
          </div>
        </div>
      </div>

      <mat-divider class="divider"></mat-divider>

      <h4 class="subtitle">ManEvals</h4>
      <p class="description">
        "These are the manual evaluations (ManEvals) available in this
        TestDataSet. There may exist multiple manual evaluations of the same
        student solution, so this TDS holds a list of manual evaluations. When
        INLOOM QT performs the comparison of manual and automatic evaluations,
        all of the manual evaluations are taken into consideration, while only
        the most recent automatic evaluation is used for reference."
      </p>
      <app-list-evaluations
        [testDataSet]="getTestDataSet() | async"
        evaluationType="M"
      ></app-list-evaluations>
    </mat-tab>

    <mat-tab label="AutoEvals">
      <div class="interactions">
        <div class="option-list">
          <div [routerLink]="'/eval/auto/register'" class="option-list-item">
            <span class="option-list-item-text">
              Add Automatic Evaluation
            </span>
          </div>
        </div>
      </div>

      <mat-divider class="divider"></mat-divider>

      <h4 class="subtitle">ManEvals</h4>
      <p class="description">"These are the automatic evaluations."</p>
      <app-list-evaluations
        [testDataSet]="getTestDataSet() | async"
        evaluationType="A"
      ></app-list-evaluations>
    </mat-tab>
  </mat-tab-group>
</div>
