<div class="test-data-set-list">
  <div *ngFor="let item of testDataSets$ | async">
    <div
      class="test-data-set-card"
      [routerLink]="'/testdataset'"
      [queryParams]="{ id: item.test_data_set_id }"
    >
      <div class="test-data-card-header">
        <span class="test-data-card-header-title">
          Exercise: {{ item.exercise_id }} - Student: {{ item.student_id }}
        </span>
        <div
          class="quotient-indicator"
          [style.background]="
          getPtDifferenceColor(item.test_data_set_id, 'avg-man-eval') | async
          "
        >
          <span class="quotient-indicator-value">
            {{
              metaEvalService.getEvaluationPctDiff(
                item.test_data_set_id,
                "avg-man-eval"
              )
                | async
                | number: "1.1-1"
            }}
            %
          </span>
          <span class="quotient-indicator-label">Average Pt. Diff.</span>
        </div>
      </div>
      <hr />
      <div class="test-data-set-card-body">
        <div class="test-data-literals">
          <div class="test-data-literal">
            <span class="test-data-literal-label">
              Employed Expert-Solution
            </span>
            <span class="test-data-literal-value">
              {{ item.expert_solution_id }}
            </span>
          </div>
          <div class="test-data-literal">
            <span class="test-data-literal-label">
              Average Grade Quotient
            </span>
            <span class="test-data-literal-value">
              {{
                (metaEvalService.getGradeQuotient(
                  item.test_data_set_id,
                  "avg-man-eval"
                ) | async) * 100 | number: "2.1-1"
              }}
              %
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
