.test-data-set-list {
}

.test-data-set-card {
  margin-top: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  flex-grow: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.test-data-card-header{
  font-size: 18px;
}

.test-data-set-card-body {
  display: flex;
  flex-flow: row nowrap;
}

.test-data-literals {
  flex-grow: 3;
}

.test-data-literal {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 4px;
  margin-bottom: 4px;
  border-bottom: 1px dotted lightgrey;
}

.test-data-literal-label {
  flex-grow: 1;
}

.test-data-literal-value {
  flex-grow: 1;
  text-align: end;
}

.test-data-evals {
  flex-grow: 5;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.test-data-eval-container{
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
}

.test-data-eval{
  flex-grow: 1;
  margin-left: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}