.evaluation-list {
}

.evaluation-card {
  margin-top: 8px;
  margin: 8px;
  padding: 12px;
  flex-grow: 1;
  border: 1px solid;
  border-color: rgba(169, 170, 170, 0.616);
  background-color: rgba(105, 103, 103, 0.151);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.evaluation-card:hover {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.253);
  cursor: pointer;
}

.evaluation-card-header-container {
  display: flex;
  flex-flow: row nowrap;
}

.evaluation-card-header {
  flex-grow: 1;
  font-size: 18px;
}

.evaluation-created-time {
  flex-grow: 1;
  text-align: end;
  font-size: 12px;
  color: rgb(104, 98, 98);
}

.evaluation-card-body {
  display: flex;
  flex-flow: row nowrap;
}

.evaluation-literals {
  flex-grow: 1;
  padding: 6px;
  padding-inline: 12px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(46, 45, 45, 0.185);
}

.evaluation-literal {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 4px;
  margin-bottom: 4px;
  border-bottom: 1px dotted lightgrey;
}

.evaluation-literal-label {
  flex-grow: 1;
}

.evaluation-literal-value {
  flex-grow: 1;
  text-align: end;
}
