<div class="evaluation-list">
  <div *ngFor="let item of getEvaluations() | async">
    <div
      class="evaluation-card"
      [routerLink]="'/eval'"
      [queryParams]="{ id: item.evaluation_id }"
    >
      <div class="evaluation-card-header-container">
        <span
          class="evaluation-card-header"
          *ngIf="item.evaluation_type == 'M'"
        >
          ManEval - Evaluator:
          {{ getEvaluatorName(item.evaluator_id) | async }}
        </span>
        <span
          class="evaluation-card-header"
          *ngIf="item.evaluation_type == 'A'"
        >
          AutoEval
        </span>

        <span class="evaluation-created-time">
          Created:
          {{ formatDate(item.created_time) | date: "yyyy-MM-dd HH:mm" }}
        </span>
      </div>
      <hr />
      <div class="evaluation-card-body">
        <div class="evaluation-literals">
          <div class="evaluation-literal">
            <span class="evaluation-literal-label"> Points achieved </span>
            <span class="evaluation-literal-value">
              {{ item.total_points }} /
              {{
                (
                  exerciseService.getExpertSolution(
                    this.testDataSet.expert_solution_id
                  ) | async
                ).maximum_points
              }}
            </span>
          </div>
          <div class="evaluation-literal" *ngIf="item.evaluation_type == 'M'">
            <span class="evaluation-literal-label"> Grade Quotient </span>
            <span class="evaluation-literal-value">
              {{
                statisticsService.getGradeQuotient(
                  this.testDataSet.test_data_set_id,
                  item.evaluation_id
                ) | async | number:'1.1-3'
              }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
