<div class="evaluation-list">
  <div *ngFor="let evaluation of evaluations">
    <div
      class="evaluation-card"
      [routerLink]="'/eval'"
      [queryParams]="{ id: evaluation.evaluation_id }"
    >
      <div class="evaluation-card-header-container">
        <span
          class="evaluation-card-header"
          *ngIf="evaluation.evaluation_type == 'M'"
        >
          ManEval - Evaluator:
          {{
            evaluatorService.getEvaluatorName(evaluation.evaluator_id) | async
          }}
        </span>
        <span
          class="evaluation-card-header"
          *ngIf="evaluation.evaluation_type == 'A'"
        >
          AutoEval
        </span>

        <span class="evaluation-created-time">
          Created:
          {{ formatDate(evaluation.created_time) | date: "yyyy-MM-dd HH:mm" }}
        </span>
      </div>
      <hr />
      <div class="evaluation-card-body">
        <div class="evaluation-literals">
          <div class="evaluation-literal">
            <span class="evaluation-literal-label"> Points achieved </span>
            <span class="evaluation-literal-value">
              {{ evaluation.total_points }} /
              {{
                (
                  exerciseService.getExpertSolution(
                    evaluation.expert_solution_id
                  ) | async
                ).maximum_points
              }}
              ({{
                metaEvalService.getEvaluationGrade(evaluation.test_data_set_id, evaluation.evaluation_id)
                  | async
                  | number: "2.1-1"
              }}
              %)
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
