.container {
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: column nowrap;
}

.title-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  width: parent;
}

.avg-avg-indicator {
  display: flex;
  flex-flow: column nowrap;
  padding: 8px;
  border: solid 1px rgba(169, 170, 170, 0.616);
  border-radius: 6px;
}

.avg-avg-indicator-value {
  font-size: 24px;
  text-align: center;
}

.avg-avg-indicator-label {
  font-size: 11px;
  text-align: center;
}

.title {
  display: inline-block;
  font-size: 32px;
}

.interactions {
  flex-grow: 6;
}

.option-list {
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
}

.option-list-item {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin: 4px;
  margin-top: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.option-list-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.option-list-item-text {
  margin-left: 10px;
  font-size: 15px;
}

.divider {
  margin-top: 8px;
  margin-bottom: 8px;
}

.subtitle {
  font-weight: bold;
  font-size: 16px;
}

.description {
  font-weight: lighter;
  font-style: oblique;
  font-size: 16px;
}

.exercise-data {
  display: flex;
  flex-flow: row nowrap;
  margin-inline: 4px;
  padding: 8px;
  border-color: rgba(169, 170, 170, 0.616);
  background-color: rgba(105, 103, 103, 0.151);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.exercise-literals {
  flex-grow: 1;
  padding: 6px;
  padding-inline: 12px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(46, 45, 45, 0.185);
}

.exercise-literal {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 4px;
  margin-bottom: 4px;
  border-bottom: 1px dotted lightgrey;
}

.exercise-literal-label {
  flex-grow: 1;
}

.exercise-literal-value {
  flex-grow: 1;
  text-align: end;
}
