<div class="container">
  <div class="container-left">
    <app-listtestdatasets></app-listtestdatasets>
  </div>
  <div class="container-right">
    <div class="option-list">
      <div [routerLink]="'eval/auto/upload'" class="option-list-item">
        <span class="option-list-item-text">Upload a new INLOOM Evaluation</span>
      </div>
      <div [routerLink]="'eval/man/upload'" class="option-list-item">
        <span class="option-list-item-text">Register a new manual Evaluation</span>
      </div>
    </div>
  </div>
</div>
